html, body{
    height: 100%;
    overflow: hidden;
    background: rgb(211, 211, 235)
}

#page_1{
    height: 100%;
    width: 100%;
}

#watson_div{
    position: absolute;
    top: 10%;
    left: 42.5%;
    height: 30%;
    width: 15%;
    background: white;
    border-radius: 50%;
}
img{
    width: 100%;
    height: 100%;
}

input{
    position: absolute;
    top: 51%;
    left: 16%;
    height: 8%;
    width: 68%;
    border-radius: 12px;
    font-size: 100%;
    border: 0px;
    padding-left: 1%;
}

button{
    height: 100%;
    width: 31.3%;
    float: left;
    background-color: cadetblue; 
    border-radius: 12px;
    font-size: 100%;
    border: 0px;
    margin: 0% 1%;
    color: white;
}

#button_div{
    position: absolute;
    top: 64%;
    left: 15%;
    height: 8%;
    width: 70%;
}

#response_page{
    height: 100%;
    width: 100%;
    background: rgb(211, 211, 235)
}

#response_container{
    position: relative;
    height: 70%;
    width: 80%;
    top: 5%;
    left: 10%;
    background: white;
    border-radius: 25px;
    padding: 2%;
    overflow-y: scroll;
}

#search_again{
    position: relative;
    margin-top: 7% !important;
    left: 48% !important;
    width: 4% !important;
    height: 8% !important;
    border-radius: 50%;
    font-size: 200%;
}

p{
    display: inline-block;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}